root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

# Basic analyzer severity

dotnet_diagnostic.CS8618.severity = warning
dotnet_diagnostic.CA2000.severity = warning
dotnet_diagnostic.CA1305.severity = suggestion
dotnet_diagnostic.IDE0058.severity = warning
dotnet_diagnostic.IDE0060.severity = warning
